*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./coffe\ img\ \(1\).jpg);
}
nav{
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    padding: 30px;
}
nav h1{
   margin-left: 80px;
    cursor:default;
    text-shadow: 2px 2px 2px #000   ;
    text-transform: capitalize;
}
nav .a{
    margin-left: 18pc;
margin-top: 3px;
}
nav .a a{
    text-shadow: 2px 2px 2px #000   ;
    cursor: pointer;
    font-size: 20px;
    margin-left: 20px;
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
}
.container{
    text-shadow: 2px 2px 2px #000   ;

    display: grid;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 120px;
}
.container h1{
    text-transform: capitalize;
    font-size: 3pc;
}
.container p{
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 20px;
}
.container button{
    border: solid #fff;
    background: transparent;
    color: #fff;
    text-shadow: 2px 2px 2px #000   ;

    width: fit-content;
    text-transform: capitalize;
    padding: 10px;
    margin-left: 200px;
    margin-top: 29px;
    font-weight: bolder;
    cursor: pointer;
}
.container button:hover{
    background-color: #fff;
    color: #000;
}